
body {
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-family: 'Diplomata SC', cursive;
}

.title {
  background-color: lightgoldenrodyellow;
  border: 15px ridge tan;
  border-radius: 20% 0;
  padding: 20px;
  margin: 32px;
  font-size: 28px;
}

.counter {
  background-color: white;
  border: 10px ridge goldenrod;
  border-radius: 20% 0;
  padding: 18px;
}

#match-result {
  color: lightgoldenrodyellow;
  text-shadow: black 2px 2px;
  height: 60px;
  width: 375px;
  display: flex;
  text-align: center;
  align-items: center;
}

#choice-container {
  background-color: rgb(21, 21, 126);
  box-shadow: 6px 6px 12px grey;
  border: 14px double goldenrod;
  border-radius: 30%;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 12px;
  padding-top: 24px;
}

#bottom-row {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}

#choice-container button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px black solid;
  box-shadow: 4px 4px 3px black;
}

#choice-container button:hover {
  box-shadow: 3px 3px 4px white;
}

.arrow {
  width: 100px;
  height: 100px;
}

.arrow-bottom {
  padding-top: 50px;
  width: 130px;
}

.wand-icon,
.bow-icon,
.sword-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wand-icon {
  background: url(./images/wand-white.png);
  background-size: contain;
}
.wand-icon:hover {
  background: url(./images/wand-inv.png);
  background-size: contain;
}
.wand-icon:active {
  background: url(./images/wand-grey.png);
  background-size: contain;
}

.sword-icon {
  background: url(./images/sword-white.png);
  background-size: contain;
}
.sword-icon:hover {
  background: url(./images/sword-inv.png);
  background-size: contain;
}
.sword-icon:active {
  background: url(./images/sword-grey.png);
  background-size: contain;
}

.bow-icon {
  background: url(./images/bow-white.png);
  background-size: contain;
}
.bow-icon:hover {
  background: url(./images/bow-inv.png);
  background-size: contain;
}
.bow-icon:active {
  background: url(./images/bow-grey.png);
  background-size: contain;
}

#wand,
#bow,
#sword {
  padding: 0px;
}

#wand {
  margin-bottom: 32px;
}

#new-game-button {
  background-color: wheat;
  color: black;
  margin: 24px;
  padding: 24px;
  border: 5px goldenrod groove;
  border-radius: 20% 0%;
  align-self: center;
  font-family: 'Diplomata SC', cursive;
}
